<div  id="single-asset" class="span7 ofsset1">
  <%= form_for(@audio) do |f| %>

  <% if @audio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@audio.errors.count, "error") %> prohibited this audio from being saved:</h2>

      <ul>
      <% @audio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= t("metadata.title") %><br/>
    <%= f.text_field :title, :class => "span6" %>
  </div>
   <div class="field">
    <%= t("metadata.description") %> <br/>
    <%= f.text_area :description, :class => "span6" %>
  </div>
  <div class="field">
    <%= t("metadata.start_date") %>  <br />
    <%= f.datepicker :date, :dateFormat => "yy-mm-dd" %>

  </div>
 
  <div class="field">
    <%= t("metadata.license") %><br />
    <%= f.text_field :license %>
  </div>
  <div class="field">
    <%= t("metadata.format") %> <br />
    <%= f.text_field :format %>
  </div>
  <div class="field">
    <%= t("metadata.duration") %><br />
    <%= f.number_field :duration %>
  </div>
  <div class="field">
    <%= t("metadata.language") %><br />
    <%= f.text_field :language %>
  </div>

  
  <div  class="tags">
    <%=  t("metadata.tags") %><br />
    <%= f.autocomplete_field :tag_list, autocomplete_tag_name_tags_path, :"data-delimiter" => ', ' %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
