<div  id="single-asset" class="span7 ofsset1">
   <%= favourite_button(@audio) if current_user.present? %>

<p id="notice"><%= notice %></p>

<p>
  <span class="field-title" ><%= t("metadata.title") %>:</span>  
   <%= @audio.title %>
</p>

<p>
  <span class="field-title"><%=  t("metadata.start_date") %>:</span> 
  <%= @audio.date %>
</p>

<p>
  <span class="field-title"><%=  t("metadata.description") %>:</span>
  <%= sanitize @audio.description %>
</p>
<p>
  <span><%= t("metadata.creator") %>:</span>  
   <%= @audio.creator %>
</p>

  <p>
   <span class="field-title"><%=  t("metadata.participant") %>:</span>
      <% @audio.participants do |p| %>
      <% end %>
  </p>

<p>
  <span class="field-title"><%= t("metadata.license") %>:</span>
  <%= @audio.license %>
</p>
<p>
  <span class="field-title"><%= t("metadata.terms_of_use") %>:</span>  
   <%= @audio.terms_of_use %>
</p>


<p>
  <span class="field-title"><%= t("metadata.format") %>:</span>
  <%= @audio.format %>
</p>

<p>
  <span class="field-title"><%=  t("metadata.duration") %>:</span>
  <%= @audio.duration %>
</p>

<p>
  <span class="field-title"><%= t("metadata.language") %>:</span>
  <%= @audio.language %>
</p>
<p>
  <span class="field-title"><%= t("metadata.notes") %>:</span>  
   <%= @audio.notes %>
</p>


<%= link_to t("link.back"), audios_path %>
</spanr>

<p>
  <span class="field-title">Tags:</span>
  <div >
      <%= @audio.tag_list {|t| t} %>
  </div>
</p>




  <%= edit_button @audio %>
  



</div>
