<div  id="single-asset" class="span7 ofsset1">
<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @audio.title %>
</p>
 <%= favourite_button(@audio) if current_user.present? %>

<p>
  <b>Date:</b>
  <%= @audio.date %>
</p>

<p>
  <b>Description:</b>
  <%= @audio.description %>
</p>

<p>
  <b>License:</b>
  <%= @audio.license %>
</p>

<p>
  <b>Format:</b>
  <%= @audio.format %>
</p>

<p>
  <b>Duration:</b>
  <%= @audio.duration %>
</p>

<p>
  <b>Language:</b>
  <%= @audio.language %>
</p>




<%= link_to 'Edit', edit_audio_path(@audio) %> |
<%= link_to 'Back', audios_path %>
<%= link_to  'Destroy', @audio, :method => :delete , :data => {:confirm => "Are you sure?" }%>
</div>
