<div  id="single-asset" class="span7 ofsset1">
   <%= favourite_button(@audio) if current_user.present? %>

<p id="notice"><%= notice %></p>

<p>

  <b><%= t("metadata.title") %>:</b>  
   <%= @audio.title %>
</p>

<p>
  <b><%=  t("metadata.start_date") %>:</b> 
  <%= @audio.date %>
</p>

<p>
  <b><%=  t("metadata.description") %>:</b>
  <%= @audio.description %>
</p>

<p>
  <b><%= t("metadata.license") %>:</b>
  <%= @audio.license %>
</p>

<p>
  <b><%= t("metadata.format") %>:</b>
  <%= @audio.format %>
</p>

<p>
  <b><%=  t("metadata.duration") %>:</b>
  <%= @audio.duration %>
</p>

<p>
  <b><%= t("metadata.language") %>:</b>
  <%= @audio.language %>
</p>

<%= link_to t("link.back"), audios_path %>
</br>

<p>
  <b>Tags:</b>
  <div style="background-color: #E89BB6">
      <%= @audio.tag_list {|t| t} %>
  </div>
</p>



<div class="btn-group">
  <% if allow? "audios", "edit" %>
  <%= link_to t("link.edit"), edit_audio_path(@audio),:class => "btn btn-medium " %> |
<% end %>
<% if allow? "audios", "destroy" %>
  <%= link_to  t("link.destroy"), @audio, :method => :delete , :data => {:confirm => "Are you sure?" }, :class => "btn btn-medium "%>
<% end %>
</div>

</div>
