<div class="related-media">
  <h6><%= t"global.related_media"%>:</h6>
  <ul>
    
    <%= "<li><span class='btn btn-medium'>#{object.videos.count}#{t"main-menu.videos"} </li>".html_safe if object.videos.count != 0  %>
    <%= "<li><span class='btn btn-medium'>#{object.audios.count}#{t"main-menu.audios"} </li>".html_safe if object.audios.count != 0  %>
    <%= "<li><span class='btn btn-medium'>#{object.documents.count}#{t"main-menu.documents"} </li>".html_safe if object.documents.count  != 0 %>
    <%= "<li><span class='btn btn-medium'>#{object.photos.count}#{t"main-menu.photos"} </li>".html_safe if object.photos.count != 0 %>
 <div class="clear-fix"></div>
  </ul>
  
  
</div>