<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @participant.name %>
</p>

<p>
  <b>Bio:</b>
  <%= @participant.bio %>
</p>

<p>
  <b>Creator:</b>
  <%= @participant.creator %>
</p>


<%= link_to 'Edit', edit_participant_path(@participant) %> |
<%= link_to 'Back', participants_path %>
