
<div  id="single-asset" class="span7 ofsset1">
<%= favourite_button(@participant) if current_user.present? %>

<p id="notice"><%= notice %></p>

<p>
  <b><%= t"global.participant" %></b>
  <h1><%= @participant.name %></h1>
</p>

<div class="image">
      <%= image_tag @participant.image_url(:thumb) if @participant.image? %>
    </div>
<p>
  <b><%=  t("misc.bio") %></b>
  <%= sanitize @participant.bio %>
</p>

<p>
  <b>Tags:</b>
  <div style="background-color: #E89BB6">
      <%=  @participant.tag_list {|t| t} %>
  </div>
</p>

<p>
  <b><%=  t("misc.content_related") %></b>
  <%#= @photo.content_related %>
</p>



<%= edit_button @participant %>
<div class="clearfix"></div>
</div>
