<div  id="single-asset" class="span7 ofsset1">

  <%= form_for(@cycle) do |f| %>

  <% if @cycle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cycle.errors.count, "error") %> prohibited this cycle from being saved:</h2>

      <ul>
      <% @cycle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t("metadata.title"), :class => "form-title"%>
    <%= f.text_field :title , :class => "form-title span6"%>
  </div>
    <div class="field">
    <%= f.label t("metadata.creator") %>
    <%= f.text_field :creator, :class=> "span6" %>
  </div>
    <div class="field">
    <%= f.label t("metadata.contributor") %>
    <%= f.text_field :contributor, :class=> "span6" %>
  </div>
    <div class="field">
    <%= f.label t("metadata.description") %>
    <%= f.text_area :description, :class=> "span6" %>
  </div>
  <div class="field">
    <%= f.label t("metadata.participants") %>

  </div>

  <div class="field">
    <div class="float-left">
      <%= f.label t("metadata.start_date") %>
      <%= f.datepicker :start_date, :dateFormat => "yy-mm-dd" %>
    </div>
    <div class="float-left offset1">
      <%= f.label t("metadata.end_date") %>
      <%= f.datepicker :end_date, :minDate => @cycle.start_date, :dateFormat => "yy-mm-dd"%>
    </div>
  </div>
  <div class="field">
    <%= f.label t("global.address") %>

  </div>


  <div class="clearfix"></div>

    <div  class="tags">
      <%= tags_autocomplete(f) %>
    </div>
    <div class="field">
    <%= f.label t("global.notes") %>
    <%= f.text_area :notes, :class=> "span6" %>
  </div>


  <div class="actions">
    <%= f.submit :class => "btn btn-large btn-primary" %>
  </div>
<% end %>
</div>
