<div  id="single-asset" class="span7 ofsset1">
      <%= favourite_button(@cycle) if current_user.present? %>
     <p id="notice"><%= notice %></p>
   
   <p>
     <span><%= t"global.cycle" %></span>
     <h1><%= @cycle.title %></h1>
   </p>
   <div class="description">
      <p>
        <span class="field-title"><%=  t("metadata.description") %>:</span>
        <%= raw @cycle.description %>
      </p>   
   </div>
   
   <% if @cycle.creator.present? %>
      <p>
        <span class="field-title"><%= t"metadata.creator" %></span>
        <%= @cycle.creator %>
      </p>
   <% end %>

   <% if @cycle.contributor.present? %>
      <p>
        <span class="field-title"><%= t"metadata.contributor" %></span>
        <p><%= @cycle.contributor %></p>
      </p>
   <% end %>
   <p>
     <span class="field-title"><%=  t("metadata.address") %>:</span>  
     <% @cycle.addresses do |a| %> 
     <% end %>   
   </p>
   
   <% if @cycle.start_date.present? %>
      <p>
        <span class="field-title"><%=  t("metadata.date") %>:</span>
        <%= @cycle.start_date %> <%= " / #{@cycle.end_date}" if @cycle.end_date.present? %>
      </p>     
   <%end%>


   <% if @cycle.notes.present? %>
      <p>
        <span><%=  t("metadata.notes") %>:</span>
       <%= @cycle.notes %>
      </p>
   <% end %>
   
   <% if @cycle.tag_list.count > 0 %>   
      <p>
        <span class="field-title">Tags:</span>
         <%= @cycle.tag_list {|t| t} %>
      </p>
   <%end%>

   <p>
     <span class="field-title">Terms:</span>
       <%= print_terms_for(@cycle,"art","tech") %>
   </p>
   
   <%= render "events/partials/media_list", :t => @cycle %>
   <% if @cycle.events.count > 0 %>
      <p>
        <span class="field-title">Associated events:</span>
       <ul>
        <% @cycle.events.each  do |event|  %>
          <li><%= link_to event.title, event %></li>
          <% end %>
        </ul>
      
      </p>
   <% end %>
  <%= edit_button @cycle %>
</div>
<%= link_to t("link.back"), cycles_path %>


