<div  id="single-asset" class="span7 ofsset1">
  
  <p id="notice"><%= notice %></p>

<p>
  <b><%=f.label t("metadata.title") %>:</b>
  <%= @cycle.title %>
</p>

<p>
  <b><%= f.label t("metadata.start_date") %>:</b>
  <%= @cycle.start_date %>
</p>

<p>
  <b><%= f.label t("metadata.end_date") %>:</b>
  <%= @cycle.end_date %>
</p>

<p>
  <b><%= f.label t("metadata.description") %>:</b>

  <%= @cycle.description %>
</p>


<%= link_to t("link.edit"), edit_cycle_path(@cycle) %> |
<%= link_to t("link.back"), cycles_path %>
</div>
