<div  id="single-asset" class="span7 ofsset1">

  <%= form_for(@video) do |f| %>
    <% if @video.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>  
        <ul>
        <% @video.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= t("metadata.title") %>:<br />
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= t("metadata.creator") %>:<br />
      <%= f.text_field :creator %>
    </div>
    <div class="field">
      <% if @video.yt_id.present? %>
      
        <%= render "videos/partials/video_player", :video => @video %>
      
      <% else %>
   
         <%= t("metadata.video") %>:<br />
         <%= f.file_field :video_file %>
  
       <% end %>
    </div>
    
    <div class="field">
      <%= t("metadata.participants") %>:<br />
    </div>

    <div class="field">
     <%= t("metadata.date") %>  <br />
      <%= f.datepicker :date, :dateFormat => "yy-mm-dd" %>
    </div>
    <div class="field">
      <%= t("metadata.description") %>  <br />
      <%= f.text_area :description, :class => "tinymce" %>
      <%= tinymce %>

    </div>
    <div class="field">
      <%= t("metadata.license") %><br />
      <%= f.text_field :license %>
    </div>
    <div class="field">
      <%= t("metadata.terms_of_use") %>:<br />
      <%= f.text_field :terms_of_use %>
    </div>

    <div class="field">
      <%= t("metadata.format") %> <br />
      <%= f.text_field :format %>
    </div>
    <div class="field">
      <%= t("metadata.duration") %><br />
      <%= f.number_field :duration %>
    </div>
    <div class="field">
      <%= t("metadata.language") %><br />
      <%= f.text_field :language %>
    </div>
      <%= terms_field_for "tech", @video %>
    
      <%= terms_field_for "art", @video %>
    <div class="field">
      <%= t("metadata.notes") %>:<br />
      <%= f.text_area :notes %>
    </div>


  <div class="field" style="background-color: #E89BB6">
    <%= f.label :tag_list, "Tags (separated by commas)" %><br />
    <%= f.text_field :tag_list %>
  </div>
  <%= hidden_field_tag "related_object[id]", params[:id] %>
  <%= hidden_field_tag "related_object[type]", params[:type] %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>
