<div  id="single-asset" class="span7 ofsset1">
   <%= favourite_button(@video) if current_user.present? %>
<p id="notice"><%= notice %></p>

<p>


  <b><%= t"global.video" %></b>
  <h1><%= @video.title %></h1>

</p>


<p>
  <%=  t("metadata.start_date") %>:
  <%= @video.date %>
</p>
  <%= raw @yt_client.my_video(@video.yt_id).embed_html5 %><p>
  <b><%=  t("metadata.creator") %>:</b>
  <%= @video.creator %>
</p>
  <p>
   <b><%=  t("metadata.participants") %>:</b>
      <% @video.participants do |p| %>
      <% end %>
  </p>


<p>
  <b><%=  t("metadata.description") %>:</b>
  <%= sanitize @video.description %>
</p>

<p>
  <b><%= t("metadata.license") %>:</b>
  <%= @video.license %>
</p>
<p>
  <b><%=  t("metadata.terms_of_use") %>:</b>
  <%= @video.terms_of_use %>
</p>

<p>
  <b><%=  t("metadata.format") %>:</b>
  <%= @video.format %>
</p>

<p>
  <b><%=  t("metadata.duration") %>:</b>
  <%= @video.duration %>
</p>

<p>
  <b><%=  t("metadata.language") %>:</b>
  <%= @video.language %>
</p>
<p>
  <b><%=  t("metadata.notes") %>:</b>
  <%= @video.notes %>
</p>

<p>

  <%= edit_button @video %>

</p>
</div>
