<div  id="single-asset" class="span7 ofsset1">
   <%= favourite_button(@video) if current_user.present? %>
<p id="notice"><%= notice %></p>

<p>


  <span><%= t"global.video" %></span>
  <h1><%= @video.title %></h1>

</p>


<p>
  <%=  t("metadata.start_date") %>:
  <%= @video.date %>
</p>
   <%=
      
      begin
        raw @yt_client.my_video(@video.yt_id).embed_html5

    rescue
      puts "S #{$!}"
    ensure 
      
    end %><p>
  <p>
  <span><%=  t("metadata.description") %>:</span>
  <%= sanitize @video.description %>
</p>
  <span><%=  t("metadata.creator") %>:</span>
  <%= @video.creator %>
</p>
  <p>
   <span><%=  t("metadata.participants") %>:</span>
      <% @video.participants do |p| %>
      <% end %>
  </p>




<p>
  <span><%= t("metadata.license") %>:</span>
  <%= @video.license %>
</p>
<p>
  <span><%=  t("metadata.terms_of_use") %>:</span>
  <%= @video.terms_of_use %>
</p>

<p>
  <span><%=  t("metadata.format") %>:</span>
  <%= @video.format %>
</p>

<p>
  <span><%=  t("metadata.duration") %>:</span>
  <%= @video.duration %>
</p>

<p>
  <span><%=  t("metadata.language") %>:</span>
  <%= @video.language %>
</p>
<p>
  <span><%=  t("metadata.notes") %>:</span>
  <%= @video.notes %>
</p>
 <%= related_parent(@video) %>
<p>
  <%= link_to (t"misc.youtube_publish"), upload_youtube_url(@video) ,:class => "btn btn-medium"%>
  <%= edit_button @video %>

</p>
</div>
