<div  id="single-asset" class="span7 ofsset1">
<p id="notice"><%= notice %></p>

<p>
  <b><%= t("metadata.title") %>:</b>
  <b>Title:</b>
  <%= @video.title %>
</p>

<p>
  <b><%=  t("metadata.start_date") %>:</b>
  <%= @video.date %>
</p>

<p>
  <b><%=  t("metadata.description") %>:</b>
  <%= @video.description %>
</p>

<p>
  <b><%= t("metadata.license") %>:</b>
  <%= @video.license %>
</p>

<p>
  <b><%=  t("metadata.format") %>:</b>
  <%= @video.format %>
</p>

<p>
  <b><%=  t("metadata.duration") %>:</b>
  <%= @video.duration %>
</p>

<p>
  <b><%=  t("metadata.language") %>:</b>
  <%= @video.language %>
</p>

<p>
  
<%= link_to t("link.edit"), edit_video_path(@video) %> |
<%= link_to t("link.back"), videos_path %>
</div>
