<div calss="row">
<% objects.each do |t|%>

  <div class="box_container  span8 ">
    <div class="favourites">
      <%#= link_to "add to favourites",add_favourite_path(t.class,t.id), :remote => true %>
      <%#= favourite_button(t) if current_user.present? %>
    </div>
    <div class="name">
      <%= link_to t.title,t %>
    </div>
    <% if t.class.to_s == "Cycle" %>
      <div class="start-end-date">
       <em><%= t"global.date" %>: </em><%= t.start_date %> / <%= t.end_date if t.end_date.present? %>
      </div>
   <% end %>
    <% if t.class.to_s == "Event" && t.date.present? %>
      <div class="start-end-date">
        <span class="field-title"><%=  t("form.date") %> :</span>
        <%= t.date %>  <%= " - #{t.time.strftime('%H:%M')}" if !t.time.nil? %>
      </div>
  <% end %>


    <div class="description">
      <%= t.description.html_safe  %>
    </div>
    
    <%= terms_list(t) %>
    
    <%= related_objects_min(t) %>






   <div id="tag-notes">
    <%= t.tag_list {|t| t} %>
   </div>

  </div>

<% end %>
</div>
 <%= paginate objects %>