<div  id="single-asset" class="span7 ofsset1">
  <p id="notice"><%= notice %></p>
  <p>
    
    <h1><%= @event.title %></h1>
    
  </p>
  
  <p>
    <b>Date:</b>
    <%= @event.date %>
  </p>
  
  <p>
    <b>Time:</b>
    <%= @event.time.strftime('%H:%M') if !@event.time.nil? %>
  </p>
  
  <p>
    <b>Description:</b>
    <%= @event.description %>
  </p>
  
  <%= link_to 'Edit', edit_event_path(@event) %> |
  <%= link_to 'Back', events_path %>  
</div>
