<p id="notice"><%= notice %></p>


<div  id="single-asset" class="span7 ofsset1">
  <%= favourite_button(@event) if current_user.present? %>
  <p id="notice" class="badge badge-warning"><%= notice %></p>
  <p>
    <span><%= t"global.event" %></span>
    <h1> <%= @event.title %></h1>
  </p>
  <div class="description">
    <p>
      <em class="field-title"><%=  t("form.description") %>:</em>
      <%= sanitize @event.description %> 
    </p>
  </div>
  <% if @event.creator.present? %>
    <p>
      <span class="field-title"><%= t"metadata.creator" %></span>
      <%= @event.creator %>
    </p>
  <% end %>

  <% if @event.participants.present? %>
    <p>
      <span class="field-title"><%= t"metadata.contributor" %></span>
      <%= @event.contributor %>
    </p>
  <% end %>
  
  <% if @event.participants.count > 0 %>
    <p>
     <span class="field-title"><%=  t("metadata.participant") %>:</span>
      <% @event.participants do |p| %>
      <% end %>
    </p>
  <% end %>

  <p>
   <span class="field-title"><%=  t("metadata.address") %>:</span>
      <% @event.addresses do |a| %>
      <% end %>
  </p>

  <% if @event.date.present? %>
    <p>
      <span class="field-title"><%=  t("form.date") %> :</span>
      <%= @event.date %>  <%= " - #{@event.time.strftime('%H:%M')}" if !@event.time.nil? %>
    </p>
    
    <p>
     
     
    </p>
  <% end %>

  <% if @event.notes.present? %>
    <p>
      <span class="field-title"><%=  t("form.notes") %>:</span>
      <%= @event.notes %>
    </p>
  <% end %>


  <% if @event.tags.present? %>
    <p>
      <span class="field-title"><%=  t("form.tags") %>:</span>
      <div >
          <%= @event.tag_list {|t| t} %>
      </div>
    </p>
  <% end %>

  <p>
    
     <% if @event.cycles.present? %>
      <span class="field-title">Cycle:</span>
       <%  @event.cycles.each do |c|  %>
          <td><%= link_to c.title, c %></td>
       <% end %>
    <% end %>
  </p>
  
 <%= print_terms_for(@event,"art","tech") %>

 <%= render "events/partials/media_list", :t => @event %>
  
  


    
  
  <%= add_related @event %>
  <%= edit_button @event %>
  
  
</div>
  <%= link_to t("link.back"), events_path %>

