<p id="notice"><%= notice %></p>


<div  id="single-asset" class="span7 ofsset1">
  <%= favourite_button(@event) if current_user.present? %>
  <p id="notice" class="badge badge-warning"><%= notice %></p>
  <p>
    <b><%= t"global.event" %></b>
   <h1> <%= @event.title %></h1>
  </p>
  <p>
    <b><%= t"metadata.creator" %></b>
       <%= @event.creator %>
  </p>
  <p>
    <b><%= t"metadata.contributor" %></b>
    <%= @event.contributor %>
  </p>

  <p>
   <b><%=  t("metadata.participant") %>:</b>
      <% @event.participants do |p| %>
      <% end %>
  </p>

  <p>
   <b><%=  t("metadata.address") %>:</b>
      <% @event.addresses do |a| %>
      <% end %>
  </p>

 
  <p>
    <b><%=  t("form.start_date") %></b>
    <%= @event.date %>
  </p>
  
  <p>
    <b>Time:</b>
    <%= @event.time.strftime('%H:%M') if !@event.time.nil? %>
  </p>
  
  <p>
    <b><%=  t("form.description") %>:</b>
    <%= sanitize @event.description %>

  </p>

  <p>
    <b><%=  t("form.notes") %>:</b>
    <%= @event.notes %>
  </p>



<p>
  <b>Tags:</b>
  <div >
      <%= @event.tag_list {|t| t} %>
  </div>
</p>

  <p>
   <b>Cycle:</b>
     <% if @event.cycles.present? %>  
       <%  @event.cycles.each do |c|  %>
          <td><%= link_to c.title, c %></td>
       <% end %>
    <% end %>
  </p>
  
  
  <div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <%= "<li class='active'><a href='#tab1' data-toggle='tab'>#{ t "global.photos" }</a></li>".html_safe if @event.photos.count != 0 %>
    <%= "<li><a href='#tab2' data-toggle='tab'>#{t"global.videos"}</a></li>".html_safe if @event.videos.count != 0  %>
    <%= "<li><a href='#tab3' data-toggle='tab'>#{t"global.audios"}</a></li>".html_safe if @event.audios.count != 0 %>
    <%= "<li><a href='#tab4' data-toggle='tab'>#{t"global.documents"} </a></li>".html_safe if @event.documents.count != 0 %>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
        <%= render "photos/partials/short_list", :photos => @event.photos if @event.photos.count != 0 %>
    </div>
    <div class="tab-pane" id="tab2">
      <%= render "videos/partials/short_list", :videos => @event.videos  if @event.videos.count != 0 %>
    </div>
    <div class="tab-pane" id="tab3">
      <%= render "audios/partials/short_list", :audios => @event.audios  if @event.audios.count != 0 %>
    </div>
    <div class="tab-pane" id="tab4">
      <%= render "documents/partials/short_list", :documents => @event.documents  if @event.documents.count != 0 %>
    </div>
  </div>
</div>
  
  
  


    
  
  <%= add_related @event %>
  <%= edit_button @event %>
  
  
</div>
  <%= link_to t("link.back"), events_path %>

