<p id="notice"><%= notice %></p>


<div  id="single-asset" class="span7 ofsset1">
  <%= favourite_button(@event) if current_user.present? %>
  <p id="notice" class="badge badge-warning"><%= notice %></p>
  <p>
    <b><%= t"global.event" %></b>
   <h1> <%= @event.title %></h1>
  </p>
  <p>
    <b><%= t"metadata.creator" %></b>
       <%= @event.creator %>
  </p>
  <p>
    <b><%= t"metadata.contributor" %></b>
    <%= @event.contributor %>
  </p>

  <p>
   <b><%=  t("metadata.participant") %>:</b>
      <% @event.participants do |p| %>
      <% end %>
  </p>

  <p>
   <b><%=  t("metadata.address") %>:</b>
      <% @event.addresses do |a| %>
      <% end %>
  </p>

 
  <p>
    <b><%=  t("form.start_date") %></b>
    <%= @event.date %>
  </p>
  
  <p>
    <b>Time:</b>
    <%= @event.time.strftime('%H:%M') if !@event.time.nil? %>
  </p>
  
  <p>
    <b><%=  t("form.description") %>:</b>
    <%= sanitize @event.description %>

  </p>

  <p>
    <b><%=  t("form.notes") %>:</b>
    <%= @event.notes %>
  </p>



<p>
  <b>Tags:</b>
  <div style="background-color: #E89BB6">
      <%= @event.tag_list {|t| t} %>
  </div>
</p>

  <p>
   <b>Cycle:</b>
     <% if @event.cycles.present? %>  
       <%  @event.cycles.each do |c|  %>
          <td><%= link_to c.title, c.title %></td>
       <% end %>
    <% end %>
  </p>
  <%= render "shared/related_objects/related_objects_min" %>
  <%= add_related @event %>
  <%= edit_button @event %>
  
  
</div>
  <%= link_to t("link.back"), events_path %>

