<div  id="single-asset" class="span7 ofsset1">
  <p id="notice" class="badge badge-warning"><%= notice %></p>
  <p>
    <b><%= t"global.event" %></b>
   <h1> <%= @event.title %></h1>
  </p>
  
  <%= favourite_button(@event) if current_user.present? %>
  
  <p>
    <b><%=  t("form.start_date") %></b>
    <%= @event.date %>
  </p>
  
  <p>
    <b>Time:</b>
    <%= @event.time.strftime('%H:%M') if !@event.time.nil? %>
  </p>
  
  <p>
    <b><%=  t("form.description") %>:</b>
    <%= @event.description %>
  </p>
  
  <% if allow? "event", "edit" %>
    <%= link_to t("link.edit"), edit_event_path(@event) %> |
  <% end %>
  
  <%= link_to t("link.back"), events_path %>
  
</div>
