<div  id="single-asset" class="span7 ofsset1">
  <p id="notice"><%= notice %></p>
  <p>
    <b><%= f.label t("form.title") %>:</b>
    <%= @event.title %>
  </p>
  
  <p>
    <b><%= f.label t("form.start_date") %></b>
    <%= @event.date %>
  </p>
  
  <p>
    <b>Time:</b>
    <%= @event.time %>
  </p>
  
  <p>
    <b><%= f.label t("form.description") %>:</b>
    <%= @event.description %>
  </p>
  
  <%= link_to t("link.edit"), edit_event_path(@event) %> |
  <%= link_to t("link.back"), events_path %>  
</div>
