
<h1><%= t("listing.documents") %></h1>

<% if allow? "documents", "edit" %>
    <%= link_to t("title.new_document"), new_document_path, :class => "btn btn-medium pull-right" if current_user.present?%>
<% end %>

<div id ="search">  
 
  <%= search_form_for @search do |f| %>
  <%= f.condition_fields do |c| %>
  <div class="field">
    <%= c.attribute_fields do |a| %>
      <%= a.attribute_select %>
    <% end %>
    <%= c.predicate_select %>
    <%= c.value_fields do |v| %>
      <%= v.text_field :value %>
    <% end %>
    </div>
  <% end %>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>
</div>


<%= render "index_views/index_long",:objects => @documents %>
<%= paginate @documents %>

