<div  id="single-asset" class="span7 ofsset1">
<p id="notice"><%= notice %></p>

<p>
  <b><%= f.label t("metadata.title") %>:</b>  
  <%= @document.title %>
</p>

<p>
  <b><%= f.label t("metadata.start_date") %>:</b> 
  <%= @document.date %>
</p>

<p>
  <b><%= f.label t("metadata.description") %>:</b>
  <%= @document.description %>
</p>

<p>
  <b><%= f.label t("metadata.license") %>:</b>
  <%= @document.license %>
</p>

<p>
  <b><%= f.label t("metadata.format") %>:</b>
  <%= @document.format %>
</p>

<p>
  <b><%= f.label t("metadata.duration") %>:</b>
  <%= @document.language %>
</p>


<%= link_to t("link.edit"), edit_document_path(@document) %> |
<%= link_to t("link.back"), documents_path %>
</div>
