<div  id="single-asset" class="span7 ofsset1">
  <%= favourite_button(@document) if current_user.present? %>
 
 <% if !notice.nil? %>
 <p id="notice"><%= notice %></p>
 <% end %>
 <p>
   <h1><%= @document.title %></h1>
 </p>
  



 <p>
   <span class="field-title"><%=  t("metadata.date") %>:</span> 
   <%= @document.date %>
 </p>
 
 <p>
   <span class="field-title"><%=  t("metadata.description") %>:</span>
   <%= sanitize @document.description %>
 </p>
  <p>
   <span class="field-title"><%=  t("metadata.creator") %>:</span>
   <%= @document.creator %>
 </p>
  <p>
   <span class="field-title"><%=  t("metadata.language") %>:</span>
   <%= @document.language %>
 </p>

 <p>
   <span class="field-title"><%=  t("metadata.license") %>:</span>
   <%= @document.license %>
 </p>
  <p>
   <span class="field-title"><%=  t("metadata.terms_of_use") %>:</span>
   <%= @document.terms_of_use %>
 </p>

 <p>
   <span class="field-title"><%=  t("metadata.format") %>:</span>
   <%= @document.format %>
 </p>
 
 <p>
   <span class="field-title"><%=  t("global.notes") %>:</span>
   <%= @document.notes %>
 </p>
 
 
 
 
 <p>
   <span class="field-title">Tags:</span>
   <div >
 
       <%= @document.tag_list {|t| t} %>
   </div>
 </p>
 
 <%= edit_button @document %> 
</div>
 <%= link_to t("link.back"), documents_path %>
