<div  id="single-asset" class="span7 ofsset1">
  <%= favourite_button(@photo) if current_user.present? %>

  <p id="notice"><%= notice %></p>
  
  <p>
  <b><%= t"global.photo" %></b>
  <h1><%= @photo.title %></h1>
  </p>
  
  <div class="image">
     <%= link_to(image_tag(@photo.image_url(:thumb)),@photo.image_url,:rel => "lightbox")  %>
        
      
    </div>
  <p>
    <b><%=  t("metadata.creator") %>:</b>
    <%= @photo.creator %>
  </p>


  <p>
    <b><%=  t("metadata.description") %>:</b>
    <%= @photo.description %>
  </p>
  <p>
    <b><%= t("metadata.format") %>:</b>
    <%= @photo.format %>
  </p>

  <p>
    <b><%=  t("metadata.license") %>:</b>
    <%= @photo.license %>
  </p>
  <p>
    <b><%=  t("metadata.terms_of_use") %>:</b>
    <%= @photo.terms_of_use %>
  </p>
  <p>
    <b><%=  t("metadata.notes") %>:</b>
    <%= @photo.notes %>
  </p>

  
  <p>
  <b>Tags:</b>
  <div style="background-color: #E89BB6">
      <%= @photo.tag_list {|t| t} %>
  </div>
  </p>
  
  
  
  <%= edit_button @photo %> 
  

</div>
  <%= link_to t("link.back"), :back %>

