<div  id="single-asset" class="span7 ofsset1">
  
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @photo.title %>
</p>
<div class="image">
      <%= image_tag @photo.image_url(:thumb) if @photo.image? %>
    </div>
<p>
  <b>Description:</b>
  <%= @photo.description %>
</p>

<p>
  <b>Content related:</b>
  <% # @photo.content_related
  %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', :back %>
</div>