<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @photo.title %>
</p>

<p>
  <b>Date:</b>
  <%= @photo.date %>
</p>

<p>
  <b>Description:</b>
  <%= @photo.description %>
</p>

<p>
  <b>License:</b>
  <%= @photo.license %>
</p>

<p>
  <b>Format:</b>
  <%= @photo.format %>
</p>

<div class="image">
      <%= image_tag @photo.image_url(:thumb_150) if @photo.image? %>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
