<div  id="single-asset" class="span7 ofsset1">
  <%= favourite_button(@photo) if current_user.present? %>

  <p id="notice"><%= notice %></p>
  
  <p>
  <span><%= t"global.photo" %></span>
  <h1><%= @photo.title %></h1>
  </p>
  
  <div class="image">
     <%= link_to(image_tag(@photo.image_url(:thumb)),@photo.image_url,:class => "colorbox") if @photo.image.present? %> 
    </div>
  <p>
      
    <span class="field-title"><%=  t("metadata.description") %>:</span>
    <%= sanitize @photo.description %>
  </p>
  <p>
   <span class="field-title">Cycle:</span><%=  t("metadata.creator") %>:</span>
    <%= @photo.creator %>
  </p>



  <p>
    <span class="field-title"><%= t("metadata.format") %>:</span>
    <%= @photo.format %>
  </p>

  <p>
    <span  class="field-title"><%=  t("metadata.license") %>:</span>
    <%= @photo.license %>
  </p>
  <p>
    <span  class="field-title"><%=  t("metadata.terms_of_use") %>:</span>
    <%= @photo.terms_of_use %>
  </p>
  <p>
    <span class="field-title"><%=  t("metadata.notes") %>:</span>
    <%= @photo.notes %>
  </p>

  
  <p>
  <span class="field-title">Tags:</span>
  <div >
      <%= @photo.tag_list {|t| t} %>
  </div>
  </p>
  
  <%= related_parent(@photo) %>
  <%= edit_button @photo %> 
  

</div>
  <%= link_to t("link.back"), :back %>

