<div  id="single-asset" class="span7 ofsset1">
  
<p id="notice"><%= notice %></p>

<p>
  
  <h1><%= @photo.title %></h1>
</p>
<div class="image">
      <%= image_tag @photo.image_url(:thumb) if @photo.image? %>
    </div>
<p>
  <b>Description:</b>
  <%= @photo.description %>
</p>

<p>
  <b>Tags:</b>
  <div style="background-color: #E89BB6">
      <%= raw @photo.tag_list.map {|t| link_to t, tag_path(t)}.join(', ') %>
  </div>
</p>


<p>
  <b>Content related:</b>
  <% # @photo.content_related
  %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) if current_user.present? %> |
<%= link_to 'Back', :back %>
</div>
