  <a href="javascript:void(0)" onClick="$('#create-term-<%= key %>').toggle();$('#create-term-<%= key %> #term_name').focus();$(this).toggle()" class="btn btn-small btn-edit"><span class="icon-plus"></span></a>
    
  <div id="create-term-<%= key %>" style="display:none">
  <%= form_for(term,:url => taxonomies_url) do |x| %>    
    <%= x.text_field :name, :style => "margin:0;" %>    
    <%= x.submit "add term", :class => "btn btn-medium btn-edit" %>
    <%= x.hidden_field :taxonomy_name, :value => key %>
    
  <% end %>