<!DOCTYPE html>
<html>
<head>
  <title>Gdoc</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

 <div >
   <%= render "shared/top_menu" %>
  </div>

<%= yield %>

  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>


</body>
</html>
